@font-face {
    font-family: 'Proxima';
    src: url('../fonts/fontspring-demo-proximanovacond-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Averta';
    src: url('../fonts/fontsfree-net-avertademopecutteddemo-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}